<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

      </header>
      <section>

      {{ content }}

      <div class="sharebuttons">
      <hr>
        <ul>
          <li class="github">
            {% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}">{% include icons/github.svg %}</a>{% endif %}
          </li>
          <li class="email">
            {% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"> {% include icons/email.svg %}</a>{% endif %}
          </li>
          <li class="twitter">
            {% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}">{% include icons/twitter.svg %}</a>{% endif %}
          </li>
          <li class="linkedin">
            {% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">{% include icons/linkedin.svg %}</a>{% endif %}
          </li>
        </ul>
      </div>

      </section>

      <footer>

        <p><small>&copy; POB, {{ site.time | date: '%Y' }}</small></p>

      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% include analytics.html %}
  </body>
</html>
